<div class="pass-body">
  
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" (ngModelChange)="checkPasswordStrength()">
  </div>

  <div class="meter" [ngClass]="easyPass">
    <span style="width: 33%" >easy</span>
  </div>

  <div class="meter" [ngClass]="mediumPass">
    <span style="width: 66%;" >medium</span>
  </div>

  <div class="meter" [ngClass]="hardPass">
    <span style="width: 100%;" >hard</span>
  </div>

<router-outlet></router-outlet>
