.gray > span {
    background-color: gray;
  }
  
.red > span {
    background-color: red;
}
  
.yellow > span {
    background-color: yellow;
}
  
.green > span {
    background-color: green;
}

.meter {
    height: 20px;
    position: relative;
    background: black;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    color: black;
    text-align: center;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

label {
  margin: 5px;
}

input {
  border-radius: 20px;
}

.pass-body {
  font-family: Consolas;
  width: max-content;
}