.password-strength-meter {
    display: flex;
    width: 200px;
  }
  
  .password-strength-meter div {
    flex: 1;
    height: 10px;
    margin-right: 2px;
    margin: 5px;
  }

  .password-strength-meter .invalid {
    background-color: gray;
  }
  
  .password-strength-meter .weak {
    background-color: red;
  }
  
  .password-strength-meter .medium {
    background-color: yellow;
  }
  
  .password-strength-meter .strong {
    background-color: green;
  }
  